<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header class="header">
    <a href="#" class="logo">Filipp</a>
    <nav class="navbar">
        <a href="#" class="active">Home</a>
        <a href="#">About</a>
        <a href="#">Service</a>
        <a href="#">Contacts</a>
    </nav>
</header>
<div class="text-with-image">
    <section class="home">
        <div class="home-content">
            <h1 class="project-heading">Practice code by doing <span>PROJECTS</span></h1>
            <h3>Improve your development skills by <span>training</span> with your peers on code kata that continuously
                challenge and push your coding practice.</h3>
            <button class="get-started">Explore projects</button>
        </div>
    </section>
    <img src="./src/assets/background-image.svg" style="margin-top: -50px"/>
</div>
</body>
</html>